$mainColor: white;
$colorLightBlue: rgb(1, 153, 255);
$colorGrey: rgb(105, 101, 101);
$colorBlue: rgb(7, 4, 113);

$textXlg: 4em;
$textLg: 3em;
$textMd: 2em;
$textMd2: 1.5em;
$textSm: 1.3em;
$textSm2: 1em;
$textSm3: 0.8em;

$fontWeigthFirst: 600;

